body {
    width: 100%;
}
.item
{

    display: inline-block;
}

#logo{
    font-family: 'Black Han Sans', Arial;
  }


.ofertas {
    margin: 20px auto;
    padding: 10px;
    width: 90% !important;
    text-align: center;
}

#precioResaltado{
background-color: #0D6EFD;
}
